body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(160deg, rgb(51, 20, 79), rgb(23, 7, 54));
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 5em 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 40%;
    margin: auto;
    height: auto;
    background-color: rgb(43, 13, 70);
    border-radius: 2em;
    border:1px solid rgb(34, 6, 59);
    box-shadow: 0 0 10px 0 rgb(27, 3, 48);
}
#puntos{
    text-align: center;
    color: grey;
}
span{
    font-size: 3em;
    color: white;
    font-weight: bold;
}
.pregunta-container{
    width: 100%;
}
#pregunta{
    text-align: center;
}
#opciones{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    width: 100%;
    gap: 1em;
}
.opcionesBtn{
    border-radius: 1em;
    border: none;
    background-color: rgba(64, 119, 177, 0.17);
    color: white;
    padding: 2.5em;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
button:hover{
    background-color: rgba(64, 119, 177, 0.3);
}
#jugarDeNuevoBtn{
    background-color: rgba(64, 119, 177);
    opacity: none !important;
    color: white;
    border: none;
    padding: 3em;
    border-radius: 2em;
    cursor: pointer;
}

@media (max-width: 576px){
    body{
        overflow: hidden;
        padding: 0;
    }
    .container{
        width: 80%;
        margin: auto;
        height: 100vh;
        background-color: transparent;
        border-radius: 0;
        border:none;
        box-shadow: none;
    }
}